################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CareerNW/packages
/CareerNW/CareerNW.Database/bin/Debug
/CareerNW/CareerNW.Database/obj/Debug
/CareerNW/CareerNW.RepoEF/bin
/CareerNW/CareerNW.RepoEF/obj/Debug
/CareerNW/CareerNW.RepoEF.UnitTests/obj/Debug
/CareerNW/CareerNW.RepoEF.UnitTests/bin/Debug
/CareerNW/CareerNW.ServiceWebAPI/obj/Debug
/CareerNW/CareerNW.ServiceWebAPI/bin
/CareerNW/CareerNW.ServiceWebAPI.Tests/obj/Debug
/CareerNW/CareerNW.ServiceWebAPI.Tests/bin/Debug
/CareerNW/CareerNW.UI_SPA/obj/Debug
/CareerNW/CareerNW.UI_SPA/bin
/CareerNW/CareerNW.UI_SPA.UnitTests/obj/Debug
